.banner-top p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

.banner-body {
  background-color: black;
}
.nav {
  padding: 10px;
  position: relative;
}

.main-content {
  margin-top: 20px;
  padding-top: 50px;
  padding-left: 75px;
  padding-right: 75px;
  background-color: white;
}

.main-title {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

.center {
  padding-right: 75px;
  padding-left: 75px;
}
